.avatars {
  display: flex;
  align-items: center;
  position: relative;

  &__item {
    z-index: 2;
  }

  &__item ~ &__item {
    margin-left: -1.25rem;
    z-index: 1;
  }

  &__item:last-child {
    z-index: 0;
  }
}
