@import "@styles/colors.scss";
@import "@styles/mixins.scss";

.leaderboard {
  @include leaderboardBgGradient;
  min-height: 100vh;

  &__main {
    padding: 0.5rem;

    &-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1.25rem 0;

      &-subtitle {
        color: $text-color;
        opacity: 80%;
      }

      &-button {
        width: 100%;
        padding: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: $border_radius;
        border: none;
        background: linear-gradient(90deg, #ffa900 0%, #f47f3c 100%);
        margin-top: 1.75rem;
      }
    }
  }
}
