@import "@styles/colors.scss";

.list {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: $border_radius;
  padding: 2rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__item {
    display: flex;
    gap: 1.25rem;
    align-items: center;

    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: $border_radius;
      background-color: rgba(255, 255, 255, 0.09);
    }

    &-name {
      width: 100px;
      height: 10px;
      border-radius: $border_radius;
      background-color: rgba(255, 255, 255, 0.09);
    }

    &-username {
      width: 200px;
      height: 10px;
      border-radius: $border_radius;
      background-color: rgba(255, 255, 255, 0.09);
      margin-top: 10px;
    }
  }
}
