@import "@styles/colors.scss";
@import "@styles/mixins.scss";

.header {
  &__balance-title {
    font-size: 14px;
    color: $text_color;
    text-align: center;
    opacity: 0.8;
  }

  &__balance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__balance {
    font-size: 2.75rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    color: $text_color;
  }

  &__link {
    display: block;
    font-size: 14px;
    color: $link_color;
    text-align: center;
    margin-top: 1rem;
    font-weight: 600;
  }

  &__heading {
    margin-top: 1.5rem;
  }

  &__boosters,
  &__booster {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.25rem;
  }

  &__booster {
    @include glassBg;
    width: 100%;
    padding: 0.5rem 0.75rem;
    gap: 1rem;
    border-radius: $border_radius;

    &-title {
      font-size: 1rem;
      color: $text_color;
      font-weight: 500;
    }

    &-value {
      font-size: 0.875rem;
      color: $text_color;
      opacity: 0.6;
    }
  }

  &__info-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 2rem;
  }

  &__info-button {
    @include buttonDark;
  }
}
